<!DOCTYPE html>
<html>
<head>
	<title>Poema</title>
	<style>
		body {
			background-color: #FFEBCD;
			font-family: Arial, sans-serif;
			font-size: 18px;
			line-height: 1.5;
			padding: 20px;
			text-align: center;
		}
		h1 {
			font-size: 3em;
			margin-bottom: 30px;
		}
		p {
			margin: 0 auto;
			max-width: 800px;
			text-align: justify;
		}
	</style>
</head>
<body>
	<h1>A mi rayito</h1>
	<p>
		










Ey, rayón, ráyame el cielo con una miradita.

Ojos casi verdes, anaranjados cuando atardece y en tus pupilas navegan mis pensamientos. 

Ráyame el alma, o los labios, o así sea una pierna…

¿Alguna vez te dije que eras el rayito de sol que más alumbra en mi ventana(establo, corral…etc.?
	</p>
</body>
</html>